header{
    
    background-color: #90daee;
    text-align: center;
    color: rgb(0, 0, 0);  
    
}

a{
    color: black    ;
}

main{
    margin: 10px;
    font-size: 25px;
}

footer{
    background-color: #90daee;
    text-align: center;
}

@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }
  }